apiVersion: v1
kind: PersistentVolume
metadata:
  name: gluetun-data-pv
spec:
  capacity:
    storage: 100Mi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  nfs:
    server: 10.10.5.40
    path: /mnt/master-storage/media-managment/gluetun/config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gluetun-data
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  volumeName: gluetun-data-pv
  resources:
    requests:
      storage: 100Mi